@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Sour Gummy", Tahoma;
  background-color: #FFF;
  
}

.container {
  display: block;
  width: 600px; 
  margin: 0 auto;
  margin-top: 5%;
  background-color: #7CC6EB;
  border-radius: 30px;
  padding: 30px;
  border: 5px solid #FD97A5;
}

hr {
  width: 70%;
  height: 2px;
}

footer {
    position: fixed;
    background: #FFB27A;
    width: 100%;
    bottom: 0;
    margin: 0;
    text-align: center;
    padding: 10px;
    border-top: 3px dotted #A0D094;
}

a {
  text-decoration: none;
  color: #000;
}

#enter-city {
  background-color:#FEDB87;
  border-radius: 10px;
  height: 50px;
  width :70%;
  margin-top: 5px;
  margin-left: 20px;
  font-family: "Sour Gummy", Tahoma;
  font-size: 20px;
  border: 4px solid#A1AEDA;

}

#search-box {
background-color: #A0D094;
border-radius: 10px;
margin-left: 20px;
height: 60px;
width: 20%;
font-family: "Sour Gummy", Tahoma;
font-size: 20px;
border: 4px solid#A1AEDA;

}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-status {
  display: block;
  margin-left: 20px;
  line-height: 1.5;
  font-size: 20px;
}

.current-temp-box {
  display: block;
  width: 35%;
  margin-right: 40px;
  margin-top:30px;
  font-size: 50px;
  background-color: #FFF;
  border-radius: 40px;
  padding: 20px;
  border: 3px solid #FD97A5;
  font-family: "Delius Unicase", Tahoma;
  text-align: center;
}

.current-city {
  font-size: 35px;
  font-weight: 600;
}

.weather-image {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 250px;
  border-radius: 50%;
  border: 5px solid #A1AEDA;
}

.intro-image {
  width: 150px;
  border-radius: 40px;
}